* {
  font-family: "Futura";
  color: #333; }

nav {
  height: 50px; }
  nav ul {
    display: inline;
    list-style-type: none; }
  nav li {
    float: left;
    padding: 20px; }
  nav li:last-child {
    float: right; }

a {
  cursor: url("images/arrow.png"), help; }

section {
  padding: 150px 50px; }
  section h1 {
    font-size: 55px;
    line-height: 140%; }
    section h1 .stroke {
      background-image: url("images/stroke.png");
      background-repeat: no-repeat;
      background-size: 485px;
      color: #3f7b92; }
      section h1 .stroke:hover {
        background-image: none; }
      section h1 .stroke a {
        color: #3f7b92; }
        section h1 .stroke a:hover {
          text-decoration: none;
          color: #3f7b92; }

#page1, #page2, #page3 {
  height: 100vh;
  width: 100%; }

#thumbnail_code, #thumbnail_hover, #thumbnail_hover_1, #thumbnail_hover_2, #thumbnail_hover_3, #thumbnail_hover_4, #thumbnail_hover_5, #thumbnail_hover_6 {
  position: fixed;
  visibility: hidden;
  z-index: -1; }

.projects {
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%; }
  .projects .project {
    display: inline-block;
    float: left;
    font-size: 50px;
    background-color: transparent; }
    .projects .project .project_header {
      float: left; }
      .projects .project .project_header .project_divider {
        float: left;
        font-size: 50px;
        padding-left: 20px;
        padding-right: 20px; }
      .projects .project .project_header .project_title {
        float: left;
        cursor: url("images/arrow.png"), help; }
      .projects .project .project_header .project_cat {
        float: left;
        font-size: 20px; }

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white; }
  .modal .modal-content {
    background-color: white;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: none;
    border-style: none;
    background-clip: border-box; }
    .modal .modal-content .close {
      margin-top: 400px;
      color: red;
      float: right;
      font-size: 28px;
      font-weight: bold; }
      .modal .modal-content .close .close:hover,
      .modal .modal-content .close .close:focus {
        color: #000;
        text-decoration: none;
        cursor: url("images/arrow.png"), help; }

#backarrow {
  width: 30px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }
  .dot .active, .dot .dot:hover {
    background-color: #717171; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

/* Position the "next button" to the right */
.next {
  left: 360px;
  border-radius: 3px 0 0 3px; }

.slideshow-container {
  position: relative; }
  .slideshow-container .prev, .slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; }
  .slideshow-container .next {
    left: 360px;
    border-radius: 3px 0 0 3px; }

.mySlides {
  display: none; }

.w30 {
  width: 300px; }

.w25 {
  width: 250px; }

.w45 {
  width: 450px; }

@media (max-width: 1200px) {
  section {
    padding: 130px 50px; }
    section h1 {
      font-size: 45px; }

  .projects {
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
    .projects .project {
      display: inline-block;
      float: left;
      font-size: 40px;
      background-color: transparent; }
      .projects .project .project_header {
        float: left; }
        .projects .project .project_header .project_divider {
          float: left;
          font-size: 50px;
          padding-left: 2px;
          padding-right: 2px; }
        .projects .project .project_header .project_title {
          float: left;
          cursor: url("images/arrow.png"), help;
          font-size: 40px; }
        .projects .project .project_header .project_cat {
          float: left;
          font-size: 30px; } }
@media (max-width: 768px) {
  section {
    padding: 120px 50px; }
    section h1 {
      font-size: 40px; }

  .projects {
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
    .projects .project {
      display: inline-block;
      float: left;
      font-size: 50px;
      background-color: transparent; }
      .projects .project .project_header {
        float: left; }
        .projects .project .project_header .project_divider {
          float: left;
          font-size: 40px;
          padding-left: 2px;
          padding-right: 2px; }
        .projects .project .project_header .project_title {
          float: left;
          cursor: url("images/arrow.png"), help;
          font-size: 30px; }
        .projects .project .project_header .project_cat {
          float: left;
          font-size: 20px; }

  .w30 {
    width: 220px; }

  .w25 {
    width: 190px; }

  .w45 {
    width: 380px; } }
@media (max-width: 480px) {
  section {
    padding: 130px 50px; }
    section h1 {
      font-size: 25px;
      line-height: 130%; }

  .projects {
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
    .projects .project {
      display: inline-block;
      float: left;
      font-size: 50px;
      background-color: transparent; }
      .projects .project .project_header {
        float: left; }
        .projects .project .project_header .project_divider {
          float: left;
          font-size: 30px;
          padding-left: 2px;
          padding-right: 2px; }
        .projects .project .project_header .project_title {
          float: left;
          cursor: url("images/arrow.png"), help;
          font-size: 20px; }
        .projects .project .project_header .project_cat {
          float: left;
          font-size: 10px; }

  .w30 {
    width: 200px; }

  .w25 {
    width: 170px; }

  .w45 {
    width: 300px; } }

/*# sourceMappingURL=style.css.map */
