* {
  font-family: "Futura";
  color: #333; }

/* navigation bar styling */
nav {
  height: 50px; }
  nav ul {
    display: inline;
    list-style-type: none; }
  nav li {
    float: left;
    padding: 20px; }
  nav li:last-child {
    float: right;
    visibility: visible; }
  nav #insta {
    width: 50px;
    position: fixed;
    top: 5px;
    right: 5px;
    visibility: hidden; }

a {
  cursor: url("images/arrow.png"), help; }

/* Page Styling */
section {
  padding: 140px 50px; }
  section h1 {
    font-size: 55px;
    line-height: 140%; }
    section h1 .stroke {
      background-image: url("images/stroke.png");
      background-repeat: no-repeat;
      background-size: 485px;
      color: #3f7b92; }
      section h1 .stroke:hover {
        background-image: none; }
      section h1 .stroke a {
        color: #3f7b92; }
        section h1 .stroke a:hover {
          text-decoration: none;
          color: #3f7b92; }

#page1, #page2, #page3 {
  height: 100vh;
  width: 100%; }

/* Thumbnail visibility on class */
#thumbnail_code, #thumbnail_hover, #thumbnail_hover_1, #thumbnail_hover_2, #thumbnail_hover_3, #thumbnail_hover_4, #thumbnail_hover_5, #thumbnail_hover_6 {
  position: fixed;
  visibility: hidden;
  z-index: -1; }

.projects {
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%; }
  .projects .project {
    display: inline-block;
    float: left;
    font-size: 50px;
    background-color: transparent; }
    .projects .project .project_header {
      float: left; }
      .projects .project .project_header .project_divider {
        float: left;
        font-size: 50px;
        padding-left: 20px;
        padding-right: 20px; }
      .projects .project .project_header .project_title {
        float: left;
        cursor: url("images/arrow.png"), help; }
      .projects .project .project_header .project_cat {
        float: left;
        font-size: 20px; }

/* The Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white; }
  .modal .modal-content {
    background-color: white;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: none;
    border-style: none;
    background-clip: border-box; }
    .modal .modal-content .close {
      position: fixed;
      top: 600px;
      right: 200px;
      color: red;
      float: right;
      font-size: 28px;
      font-weight: bold; }
      .modal .modal-content .close .close:hover,
      .modal .modal-content .close .close:focus {
        color: #000;
        text-decoration: none;
        cursor: url("images/arrow.png"), help; }

#backarrow {
  /* Styling of the return button from Modal */
  width: 30px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.dot {
  /* dots in image slider */
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }
  .dot .active, .dot .dot:hover {
    background-color: #717171; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

.next {
  left: 360px;
  border-radius: 3px 0 0 3px; }

.slideshow-container {
  position: relative; }
  .slideshow-container #text {
    width: 400px;
    float: right;
    margin-top: 150px;
    margin-right: 50px; }
  .slideshow-container .prev, .slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; }
  .slideshow-container .next {
    left: 360px;
    border-radius: 3px 0 0 3px; }
  .slideshow-container .mySlides img {
    width: 400px; }

.mySlides {
  display: none; }

.tommy-container div {
  width: 400px;
  float: right;
  margin-top: 150px;
  margin-right: 0px;
  padding: 20px; }
.tommy-container img {
  width: 370px;
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
  margin-left: 130px; }
.tommy-container .w30 {
  width: 300px; }
.tommy-container .w25 {
  width: 250px; }
.tommy-container .w45 {
  width: 450px; }

/* responsive design*/
@media (max-width: 1200px) {
  section {
    padding: 130px 50px; }
    section h1 {
      font-size: 45px; }
      section h1 .stroke {
        background-size: 400px; }

  .projects .project {
    font-size: 40px; }
    .projects .project .project_header .project_divider {
      float: left;
      font-size: 50px;
      padding-left: 2px;
      padding-right: 2px; }
    .projects .project .project_header .project_title {
      cursor: url("images/arrow.png"), help;
      font-size: 40px; }
    .projects .project .project_header .project_cat {
      font-size: 30px; }

  .tommy-container div {
    width: 300px;
    margin-top: 110px;
    margin-right: 0px; }
  .tommy-container img {
    width: 300px;
    margin-left: 150px; }

  .slideshow-container #text {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    padding: 20px; }
  .slideshow-container .next {
    left: 510px; }
  .slideshow-container .prev {
    left: 150px; }
  .slideshow-container .mySlides img {
    margin-left: 150px;
    margin-right: 150px; } }
@media (max-width: 992px) {
  .tommy-container div {
    width: 100%;
    margin: auto;
    padding: 30px; }
  .tommy-container img {
    width: 300px;
    margin-left: 150px; }

  .modal .modal-content .close {
    position: fixed;
    bottom: 0px;
    right: 100px; }

  .slideshow-container #text {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    padding: 20px; }
  .slideshow-container .next {
    left: 460px; }
  .slideshow-container .prev {
    left: 100px; }
  .slideshow-container .mySlides img {
    margin-left: 100px;
    margin-right: 100px; } }
@media (max-width: 768px) {
  section {
    padding: 120px 50px; }
    section h1 {
      font-size: 35px;
      line-height: 150%; }
      section h1 .stroke {
        background-size: 300px; }

  .projects .project {
    font-size: 40px; }
    .projects .project .project_header .project_divider {
      font-size: 35px;
      padding-left: 2px;
      padding-right: 2px; }
    .projects .project .project_header .project_title {
      cursor: url("images/arrow.png"), help;
      font-size: 35px; }
    .projects .project .project_header .project_cat {
      font-size: 20px; }

  .w30 {
    width: 220px; }

  .w25 {
    width: 190px; }

  .w45 {
    width: 380px; }

  nav li:last-child {
    visibility: hidden; }
  nav #insta {
    visibility: visible; }

  .tommy-container div {
    width: 100%;
    margin: auto;
    padding: 30px; }
  .tommy-container img {
    width: 255px;
    margin: 80px; }

  .modal .modal-content .close {
    position: fixed;
    bottom: 0px;
    right: 50px; }

  .slideshow-container #text {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    padding: 20px; }
  .slideshow-container .next {
    left: 210px;
    top: 520px; }
  .slideshow-container .prev {
    left: 0px;
    top: 520px; }
  .slideshow-container .mySlides img {
    width: 250px;
    margin-left: 0px;
    margin-right: 50px; } }
@media (max-width: 480px) {
  section {
    padding: 150px 50px; }
    section h1 {
      font-size: 25px;
      line-height: 140%; }
      section h1 .stroke {
        background-size: 225px; }

  .projects .project .project_header .project_divider {
    font-size: 30px;
    padding-left: 2px;
    padding-right: 2px; }
  .projects .project .project_header .project_title {
    cursor: url("images/arrow.png"), help;
    font-size: 20px; }
  .projects .project .project_header .project_cat {
    font-size: 10px; }
  .projects .tommy-container div {
    width: 100%;
    margin: auto;
    padding: 30px; }
  .projects .tommy-container img {
    width: 230px;
    margin: auto; }
  .projects .modal .modal-content .close {
    position: fixed;
    bottom: 0px;
    right: 50px; }

  .w30 {
    width: 200px; }

  .w25 {
    width: 170px; }

  .w45 {
    width: 300px; }

  .slideshow-container #text {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    padding: 20px; }
  .slideshow-container .next {
    left: 160px;
    top: 550px; }
  .slideshow-container .prev {
    left: 0px;
    top: 550px; }
  .slideshow-container .mySlides img {
    width: 200px;
    margin-left: 0px;
    margin-right: 50px; } }

/*# sourceMappingURL=style.css.map */
