$blue: #3f7b92;
$darkgrey: #333;
$arrow: url("images/arrow.png"), help;

* {
	font-family: "Futura";
	color: $darkgrey;
}

//navigation bar styling 
nav{
	//background-color:white;
	height:50px;
	ul{
	  display: inline;
	  list-style-type: none;
	}
	
	li {
		float:left;
		padding: 20px;
	}
	li:last-child {
		float:right;
	}
	
}

a {
	cursor: $arrow 

}
//page styling 
section {
	padding: 150px 50px;
	h1 {
		font-size:55px;
		line-height: 140%;
		.stroke{
			background-image: url("images/stroke.png");
			background-repeat: no-repeat;
			background-size: 485px;
			color: $blue;
			&:hover {
				background-image: none;
			}
		a {
			color: $blue;
			&:hover{
				text-decoration: none;
				color: $blue;
			}	
		}
		}
	}
}

#page1 , #page2 , #page3 {
	height:100vh;
	width:100%;		
}


//thumbnail visibility on class 
#thumbnail_code , #thumbnail_hover , #thumbnail_hover_1 , #thumbnail_hover_2 , #thumbnail_hover_3 , #thumbnail_hover_4 , #thumbnail_hover_5 , #thumbnail_hover_6 {
	position:fixed;
	visibility:hidden;
	z-index:-1;
	
}

.projects {
	float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    .project {
		display:inline-block;
		//border:1px solid red;
		float:left;
		font-size:50px;
		background-color:transparent;
		.project_header {
			float:left;
			.project_divider {
				float:left;
				font-size:50px;
				padding-left:20px;
				padding-right:20px;
			}
			.project_title {
				float:left;
				cursor: $arrow;
			}
			.project_cat {
				float:left;
				font-size:20px;
			}
		}
	}   
}




// The Modal (background) 
.modal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; // Full width 
    height: 100%; // Full height 
    overflow: auto; // Enable scroll if needed 
    background-color: white;
    .modal-content {  //Modal Content 
	    background-color: white;
	    padding-left: 120px;
	    padding-right: 120px;
	    padding-top: 100px;
	    padding-bottom: 100px;
	    box-shadow:none;
	    border-style:none;
	    background-clip:border-box;
		.close { // The Close Button 
		    margin-top:400px;
		    color: red;
		    float: right;
		    font-size: 28px;
		    font-weight: bold;
		    .close:hover, 
			.close:focus {
			    color: #000;
			    text-decoration: none;  
			    cursor: $arrow;
			}
		}   	
	}
}
 
#backarrow {
        width:30px;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  .active, .dot:hover {
  	background-color: #717171;
	}
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  left: 360px;
  border-radius: 3px 0 0 3px;
}

.slideshow-container { 
  position: relative;
  .prev, .next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  padding: 16px;
	  margin-top: -22px;
	  color: black;
	  font-weight: bold;
	  font-size: 18px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	}
	.next {
  		left: 360px;
  		border-radius: 3px 0 0 3px;
	} 
}

.mySlides { display:none;}

.w30 { width:300px;}

.w25 {width:250px;}

.w45 {width:450px;}

@media (max-width: 1200px) {
	section {
	//padding: 0px 5px;
	h1 {
		font-size:50px;
		//line-height: 130%;
	}
	}
}


@media (max-width: 768px) {
	section {
	padding: 130px 50px;
	h1 {
		font-size:40px;
		//line-height: 130%;
	}
	}
}
@media (max-width: 480px) {
	section {
	padding: 130px 50px;
	h1 {
		font-size:25px;
		line-height: 130%;
	}
	}
	.projects {
	float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    .project {
		display:inline-block;
		float:left;
		font-size:50px;
		background-color:transparent;
		.project_header {
			float:left;
			.project_divider {
				float:left;
				font-size:20px;
				padding-left:2px;
				padding-right:2px;
			}
			.project_title {
				float:left;
				cursor: $arrow;
				font-size:20px;
			}
			.project_cat {
				float:left;
				font-size:10px;
			}
		}
	}   
}
}


